In [ ]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e7025ee09b539035261897e090404250d88680e7de4a85d9a769f719e4abf864
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Data Frames").getOrCreate()

In [ ]:
l = [('lio',31,50.0,'foot'),
     ('Lebron', 33, 38.5, 'Basket'),
     ('Novak', 31, 15.0, 'Tennis'),
     ('Kobe', 40, 24.5, 'Basket'),
     ('Cristiano', 34, 30.0, 'Foot'),
     ('Neymar',26 ,36.8, 'Foot')
]

In [ ]:
rdd = spark.sparkContext.parallelize(l)

In [ ]:
rdd.take(5)

[('lio', 31, 50.0, 'foot'),
 ('Lebron', 33, 38.5, 'Basket'),
 ('Novak', 31, 15.0, 'Tennis'),
 ('Kobe', 40, 24.5, 'Basket'),
 ('Cristiano', 34, 30.0, 'Foot')]

In [ ]:
df = spark.createDataFrame(rdd)

In [ ]:
df

DataFrame[_1: string, _2: bigint, _3: double, _4: string]

In [ ]:
df.show()

+---------+---+----+------+
|       _1| _2|  _3|    _4|
+---------+---+----+------+
|      lio| 31|50.0|  foot|
|   Lebron| 33|38.5|Basket|
|    Novak| 31|15.0|Tennis|
|     Kobe| 40|24.5|Basket|
|Cristiano| 34|30.0|  Foot|
|   Neymar| 26|36.8|  Foot|
+---------+---+----+------+

In [ ]:
df1 = spark.createDataFrame(rdd, schema=['Name','Age','Salary','Sport'])

In [ ]:
df1.show()

+---------+---+------+------+
|     Name|Age|Salary| Sport|
+---------+---+------+------+
|      lio| 31|  50.0|  foot|
|   Lebron| 33|  38.5|Basket|
|    Novak| 31|  15.0|Tennis|
|     Kobe| 40|  24.5|Basket|
|Cristiano| 34|  30.0|  Foot|
|   Neymar| 26|  36.8|  Foot|
+---------+---+------+------+

In [ ]:
df1.describe()

DataFrame[summary: string, Name: string, Age: string, Salary: string, Sport: string]

In [ ]:
from pyspark.sql.types import *

In [ ]:
mySchema = StructType([
      StructField("Name", StringType(), True),
      StructField("Age", IntegerType(), True),
      StructField("Salary", DoubleType(), True),
      StructField("Sport", StringType(), True),


])

In [ ]:
df2 = spark.createDataFrame(rdd, schema = mySchema)

In [ ]:
df2.describe

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: double (nullable = true)
 |-- Sport: string (nullable = true)

In [ ]:
df2.show()

+---------+---+------+------+
|     Name|Age|Salary| Sport|
+---------+---+------+------+
|      lio| 31|  50.0|  foot|
|   Lebron| 33|  38.5|Basket|
|    Novak| 31|  15.0|Tennis|
|     Kobe| 40|  24.5|Basket|
|Cristiano| 34|  30.0|  Foot|
|   Neymar| 26|  36.8|  Foot|
+---------+---+------+------+

In [ ]:
df2.select('sport').show()

+------+
| sport|
+------+
|  foot|
|Basket|
|Tennis|
|Basket|
|  Foot|
|  Foot|
+------+

In [ ]:
df2.groupBy('Sport').avg().select('sport', 'avg(Salary)').show()

+------+-----------+
| sport|avg(Salary)|
+------+-----------+
|Tennis|       15.0|
|Basket|       31.5|
|  foot|       50.0|
|  Foot|       33.4|
+------+-----------+

In [ ]:
df2.columns

['Name', 'Age', 'Salary', 'Sport']

In [ ]:
for i in range(4):
  print(df2.columns[i])

Name
Age
Salary
Sport

In [ ]:
df2.dtypes

[('Name', 'string'), ('Age', 'int'), ('Salary', 'double'), ('Sport', 'string')]

In [ ]:
df2.filter(df2.Salary>30).show()

+------+---+------+------+
|  Name|Age|Salary| Sport|
+------+---+------+------+
|   lio| 31|  50.0|  foot|
|Lebron| 33|  38.5|Basket|
|Neymar| 26|  36.8|  Foot|
+------+---+------+------+

In [ ]:
from pyspark.sql import DataFrame
print (DataFrame.agg.__doc__)

Aggregate on the entire :class:`DataFrame` without groups
        (shorthand for ``df.groupBy().agg()``).

        .. versionadded:: 1.3.0

        .. versionchanged:: 3.4.0
            Supports Spark Connect.

        Parameters
        ----------
        exprs : :class:`Column` or dict of key and value strings
            Columns or expressions to aggregate DataFrame by.

        Returns
        -------
        :class:`DataFrame`
            Aggregated DataFrame.

        Examples
        --------
        >>> from pyspark.sql import functions as sf
        >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
        >>> df.agg({"age": "max"}).show()
        +--------+
        |max(age)|
        +--------+
        |       5|
        +--------+
        >>> df.agg(sf.min(df.age)).show()
        +--------+
        |min(age)|
        +--------+
        |       2|
        +--------+

In [ ]:
df1.show()

+---------+---+------+------+
|     Name|Age|Salary| Sport|
+---------+---+------+------+
|      lio| 31|  50.0|  foot|
|   Lebron| 33|  38.5|Basket|
|    Novak| 31|  15.0|Tennis|
|     Kobe| 40|  24.5|Basket|
|Cristiano| 34|  30.0|  Foot|
|   Neymar| 26|  36.8|  Foot|
+---------+---+------+------+

In [ ]:
df2 = spark.read.csv('financial_data_2000_2018_cleaned.csv', inferSchema= True , header = True )

In [ ]:
df2.show()

+---+-----+----------+----+----+----+---------+-------+
|_c0|stock| timestamp|open|high| low|adj_close| volume|
+---+-----+----------+----+----+----+---------+-------+
|  0| GERN|1532988000|3.34|3.59|3.59|     3.59|4650479|
|  1| GERN|1532901600|3.36|3.45|3.45|      3.3|3571600|
|  2| GERN|1532642400|3.44| 3.5| 3.5|     3.34|2928697|
|  3| GERN|1532556000|3.26|3.56|3.56|     3.44|4209642|
|  4| GERN|1532469600|3.37|3.42|3.42|     3.22|3568900|
|  5| GERN|1532383200|3.41|3.45|3.45|     3.35|3323260|
|  6| GERN|1532296800|3.48|3.49|3.49|     3.37|2339213|
|  7| GERN|1532037600|3.45|3.46|3.46|     3.43|7744407|
|  8| GERN|1531951200|3.59| 3.6| 3.6|     3.48|5923377|
|  9| GERN|1531864800|3.57|3.63|3.63|     3.59|3021013|
| 10| GERN|1531778400| 3.6|3.63|3.63|     3.59|4404628|
| 11| GERN|1531692000|3.63|3.67|3.67|     3.44|3339884|
| 12| GERN|1531432800|3.77|3.78|3.78|     3.62|2201246|
| 13| GERN|1531346400|3.58|3.83|3.83|     3.81|3812034|
| 14| GERN|1531260000| 3.5|3.62|3.62|     3.59|2971108|
| 15| GERN|1531173600|3.75|3.82|3.82|      3.6|3163657|
| 16| GERN|1531087200|3.75|3.87|3.87|     3.75|2040190|
| 17| GERN|1530828000| 3.7|3.85|3.85|     3.75|3634296|
| 18| GERN|1530741600|3.65|3.94|3.94|     3.61|5535966|
| 19| GERN|1530568800|3.59|3.62|3.62|     3.55|1501390|
+---+-----+----------+----+----+----+---------+-------+
only showing top 20 rows

In [ ]:
df2.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- stock: string (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- adj_close: double (nullable = true)
 |-- volume: integer (nullable = true)

In [ ]:
df3 = df2.drop('adj_close', '_c0')

In [ ]:
df3.describe().show()

+-------+------+--------------------+-----------------+-----------------+-----------------+--------------------+
|summary| stock|           timestamp|             open|             high|              low|              volume|
+-------+------+--------------------+-----------------+-----------------+-----------------+--------------------+
|  count|168615|              168615|           168615|           168615|           168615|              168615|
|   mean|  NULL| 1.256364460955431E9|32.53267989206206|32.97297523945095|32.97297523945095|1.5993473235584022E7|
| stddev|  NULL|1.6253456539854378E8|75.42714472760872|76.15882252582271|76.15882252582271|3.2387729679567922E7|
|    min|  AAPL|           964994400|             0.08|             0.08|             0.08|                   0|
|    max|  URBN|          1532988000|          1876.05|          1880.05|          1880.05|          1856379000|
+-------+------+--------------------+-----------------+-----------------+-----------------+--------------------+

In [ ]:
df3.show(n=5)

+-----+----------+----+----+----+-------+
|stock| timestamp|open|high| low| volume|
+-----+----------+----+----+----+-------+
| GERN|1532988000|3.34|3.59|3.59|4650479|
| GERN|1532901600|3.36|3.45|3.45|3571600|
| GERN|1532642400|3.44| 3.5| 3.5|2928697|
| GERN|1532556000|3.26|3.56|3.56|4209642|
| GERN|1532469600|3.37|3.42|3.42|3568900|
+-----+----------+----+----+----+-------+
only showing top 5 rows

In [ ]:
df3.groupBy('stock').avg('open').show()

+-----+------------------+
|stock|         avg(open)|
+-----+------------------+
| ESRX|39.668278145695204|
| AAPL| 46.57007947019884|
| CSCO|20.341494481236165|
| HIBB|28.088428256070546|
| GILD| 33.14560706401762|
| QCOM|38.961152317880725|
| JBLU|12.049055041402806|
| SIRI| 4.582589403973519|
| GERN|   5.8217041942605|
| INTC|21.291927152317903|
| ROST|22.064602649006712|
|   CA|21.400026490066303|
| PZZA|24.869752759381868|
| ATVI|15.850871964680001|
| TNDM| 86.86601687763711|
| ADSK| 39.36861147902863|
| MRVL|12.738902869757169|
| AMAT| 17.73304194260476|
| EBAY| 16.80686754966884|
| SBUX|21.656247240618104|
+-----+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import(
    dayofmonth, dayofyear, month, hour, weekofyear, year, format_number, date_format)

In [ ]:
import datetime
from pyspark.sql.types import DateType
from pyspark.sql.functions import udf, col

In [ ]:

def toDate(timeAsInteger):
    return datetime.datetime.fromtimestamp(timeAsInteger)


toDateUDF = udf(toDate, DateType())

In [ ]:

newDF = df3.withColumn('date', toDateUDF(col('timestamp'))).drop('_c0').drop('timestamp')

In [ ]:
newDF.show()

+-----+----+----+----+-------+----------+
|stock|open|high| low| volume|      date|
+-----+----+----+----+-------+----------+
| GERN|3.34|3.59|3.59|4650479|2018-07-30|
| GERN|3.36|3.45|3.45|3571600|2018-07-29|
| GERN|3.44| 3.5| 3.5|2928697|2018-07-26|
| GERN|3.26|3.56|3.56|4209642|2018-07-25|
| GERN|3.37|3.42|3.42|3568900|2018-07-24|
| GERN|3.41|3.45|3.45|3323260|2018-07-23|
| GERN|3.48|3.49|3.49|2339213|2018-07-22|
| GERN|3.45|3.46|3.46|7744407|2018-07-19|
| GERN|3.59| 3.6| 3.6|5923377|2018-07-18|
| GERN|3.57|3.63|3.63|3021013|2018-07-17|
| GERN| 3.6|3.63|3.63|4404628|2018-07-16|
| GERN|3.63|3.67|3.67|3339884|2018-07-15|
| GERN|3.77|3.78|3.78|2201246|2018-07-12|
| GERN|3.58|3.83|3.83|3812034|2018-07-11|
| GERN| 3.5|3.62|3.62|2971108|2018-07-10|
| GERN|3.75|3.82|3.82|3163657|2018-07-09|
| GERN|3.75|3.87|3.87|2040190|2018-07-08|
| GERN| 3.7|3.85|3.85|3634296|2018-07-05|
| GERN|3.65|3.94|3.94|5535966|2018-07-04|
| GERN|3.59|3.62|3.62|1501390|2018-07-02|
+-----+----+----+----+-------+----------+
only showing top 20 rows

In [ ]:
newDF.printSchema()

root
 |-- stock: string (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- date: date (nullable = true)

In [ ]:
newDF.select(year(newDF.date)).show()

+----------+
|year(date)|
+----------+
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
|      2018|
+----------+
only showing top 20 rows

In [ ]:
newDF = newDF.withColumn('Year', year(newDF['date']))

In [ ]:
newDF.show()

+-----+----+----+----+-------+----------+----+
|stock|open|high| low| volume|      date|Year|
+-----+----+----+----+-------+----------+----+
| GERN|3.34|3.59|3.59|4650479|2018-07-30|2018|
| GERN|3.36|3.45|3.45|3571600|2018-07-29|2018|
| GERN|3.44| 3.5| 3.5|2928697|2018-07-26|2018|
| GERN|3.26|3.56|3.56|4209642|2018-07-25|2018|
| GERN|3.37|3.42|3.42|3568900|2018-07-24|2018|
| GERN|3.41|3.45|3.45|3323260|2018-07-23|2018|
| GERN|3.48|3.49|3.49|2339213|2018-07-22|2018|
| GERN|3.45|3.46|3.46|7744407|2018-07-19|2018|
| GERN|3.59| 3.6| 3.6|5923377|2018-07-18|2018|
| GERN|3.57|3.63|3.63|3021013|2018-07-17|2018|
| GERN| 3.6|3.63|3.63|4404628|2018-07-16|2018|
| GERN|3.63|3.67|3.67|3339884|2018-07-15|2018|
| GERN|3.77|3.78|3.78|2201246|2018-07-12|2018|
| GERN|3.58|3.83|3.83|3812034|2018-07-11|2018|
| GERN| 3.5|3.62|3.62|2971108|2018-07-10|2018|
| GERN|3.75|3.82|3.82|3163657|2018-07-09|2018|
| GERN|3.75|3.87|3.87|2040190|2018-07-08|2018|
| GERN| 3.7|3.85|3.85|3634296|2018-07-05|2018|
| GERN|3.65|3.94|3.94|5535966|2018-07-04|2018|
| GERN|3.59|3.62|3.62|1501390|2018-07-02|2018|
+-----+----+----+----+-------+----------+----+
only showing top 20 rows

In [ ]:
newDF.groupBy("Year").avg().show()

+----+------------------+------------------+------------------+--------------------+---------+
|Year|         avg(open)|         avg(high)|          avg(low)|         avg(volume)|avg(Year)|
+----+------------------+------------------+------------------+--------------------+---------+
|2003| 11.65837074829932|11.863064625850328|11.863064625850328|1.7135668636281177E7|   2003.0|
|2007|20.222501838042206|20.496642159437055|20.496642159437055|2.0829747828694467E7|   2007.0|
|2018|  99.5367948717948|100.70263962065324|100.70263962065324|   8745056.650333684|   2018.0|
|2015|  58.6411772486772|59.357164224664125|59.357164224664125|   9425445.553825803|   2015.0|
|2006| 17.76047593410143|18.016387423279856|18.016387423279856|1.9243972956282977E7|   2006.0|
|2013|  39.3040882597835| 39.74850124895931| 39.74850124895931|1.2242753787781015E7|   2013.0|
|2014| 51.46968050468046| 52.10128408628393| 52.10128408628393|1.0462371875050874E7|   2014.0|
|2004|14.588106488808515|14.805399050418275|14.805399050418275| 1.772782576746552E7|   2004.0|
|2012| 31.96129894736843| 32.32882210526317| 32.32882210526317|1.4564025043789474E7|   2012.0|
|2009| 16.00632623224736| 16.29115183792816| 16.29115183792816| 1.905672048391813E7|   2009.0|
|2016|60.664125966625754|61.365161782661815|61.365161782661815|   9008336.212759463|   2016.0|
|2001|13.658922856460464| 14.14187962741823| 14.14187962741823| 1.999552010568426E7|   2001.0|
|2005| 16.09104523160765| 16.30440108991829| 16.30440108991829| 1.795909356425068E7|   2005.0|
|2000| 22.43221962616816| 23.36624415887844| 23.36624415887844|1.9829623424065422E7|   2000.0|
|2010|22.449637635756012|22.743408521303223|22.743408521303223|1.9952587485484544E7|   2010.0|
|2011| 28.17222639933171|28.574011069340138|28.574011069340138|1.7670986534774438E7|   2011.0|
|2008|17.302878094445592| 17.69948408570833| 17.69948408570833|2.4367192403994177E7|   2008.0|
|2017| 75.36500255388702| 76.02173868628051| 76.02173868628051|   7753249.809786495|   2017.0|
|2002|10.145930750771354|10.393064792595148|10.393064792595148|1.9303430804022398E7|   2002.0|
+----+------------------+------------------+------------------+--------------------+---------+

In [ ]:
newDF.groupBy('Year').avg().select(['Year', 'avg(high)']).show()

+----+------------------+
|Year|         avg(high)|
+----+------------------+
|2003|11.863064625850328|
|2007|20.496642159437055|
|2018|100.70263962065324|
|2015|59.357164224664125|
|2006|18.016387423279856|
|2013| 39.74850124895931|
|2014| 52.10128408628393|
|2004|14.805399050418275|
|2012| 32.32882210526317|
|2009| 16.29115183792816|
|2016|61.365161782661815|
|2001| 14.14187962741823|
|2005| 16.30440108991829|
|2000| 23.36624415887844|
|2010|22.743408521303223|
|2011|28.574011069340138|
|2008| 17.69948408570833|
|2017| 76.02173868628051|
|2002|10.393064792595148|
+----+------------------+

In [ ]:
from pyspark.sql import functions as F

In [ ]:
vDF = newDF.groupBy('Year').agg(F.min('Volume'), F.max('Volume'), F.avg('Volume')).orderBy('Year')

In [ ]:
vDF.show()

+----+-----------+-----------+--------------------+
|Year|min(Volume)|max(Volume)|         avg(Volume)|
+----+-----------+-----------+--------------------+
|2000|        338| 1856379000|1.9829623424065422E7|
|2001|          0|  468531000| 1.999552010568426E7|
|2002|          0|  428108800|1.9303430804022398E7|
|2003|      14625|  389484200|1.7135668636281177E7|
|2004|       4000|  692106800| 1.772782576746552E7|
|2005|          0|  792412600| 1.795909356425068E7|
|2006|       3600|  666021300|1.9243972956282977E7|
|2007|          0|  837920300|2.0829747828694467E7|
|2008|       1400|  843263400|2.4367192403994177E7|
|2009|          0|  458091200| 1.905672048391813E7|
|2010|       5500|  609834400|1.9952587485484544E7|
|2011|          0|  560038939|1.7670986534774438E7|
|2012|      52519|  376528040|1.4564025043789474E7|
|2013|          0|  365212953|1.2242753787781015E7|
|2014|       2353|  407439959|1.0462371875050874E7|
|2015|       4082|  219415189|   9425445.553825803|
|2016|       4153|  136526573|   9008336.212759463|
|2017|       6837|  111985040|   7753249.809786495|
|2018|     100042|  116478986|   8745056.650333684|
+----+-----------+-----------+--------------------+

In [ ]:
new =  vDF.withColumnRenamed('avg(Volume)', 'Avg Yearly Volume')

In [ ]:
new.select('Year', format_number('Avg Yearly Volume', 2).alias('Avg')).show()

+----+-------------+
|Year|          Avg|
+----+-------------+
|2000|19,829,623.42|
|2001|19,995,520.11|
|2002|19,303,430.80|
|2003|17,135,668.64|
|2004|17,727,825.77|
|2005|17,959,093.56|
|2006|19,243,972.96|
|2007|20,829,747.83|
|2008|24,367,192.40|
|2009|19,056,720.48|
|2010|19,952,587.49|
|2011|17,670,986.53|
|2012|14,564,025.04|
|2013|12,242,753.79|
|2014|10,462,371.88|
|2015| 9,425,445.55|
|2016| 9,008,336.21|
|2017| 7,753,249.81|
|2018| 8,745,056.65|
+----+-------------+

In [ ]:
with_week = newDF.withColumn('week', weekofyear(newDF.date))

In [ ]:
 with_week.show()

+-----+----+----+----+-------+----------+----+----+
|stock|open|high| low| volume|      date|Year|week|
+-----+----+----+----+-------+----------+----+----+
| GERN|3.34|3.59|3.59|4650479|2018-07-30|2018|  31|
| GERN|3.36|3.45|3.45|3571600|2018-07-29|2018|  30|
| GERN|3.44| 3.5| 3.5|2928697|2018-07-26|2018|  30|
| GERN|3.26|3.56|3.56|4209642|2018-07-25|2018|  30|
| GERN|3.37|3.42|3.42|3568900|2018-07-24|2018|  30|
| GERN|3.41|3.45|3.45|3323260|2018-07-23|2018|  30|
| GERN|3.48|3.49|3.49|2339213|2018-07-22|2018|  29|
| GERN|3.45|3.46|3.46|7744407|2018-07-19|2018|  29|
| GERN|3.59| 3.6| 3.6|5923377|2018-07-18|2018|  29|
| GERN|3.57|3.63|3.63|3021013|2018-07-17|2018|  29|
| GERN| 3.6|3.63|3.63|4404628|2018-07-16|2018|  29|
| GERN|3.63|3.67|3.67|3339884|2018-07-15|2018|  28|
| GERN|3.77|3.78|3.78|2201246|2018-07-12|2018|  28|
| GERN|3.58|3.83|3.83|3812034|2018-07-11|2018|  28|
| GERN| 3.5|3.62|3.62|2971108|2018-07-10|2018|  28|
| GERN|3.75|3.82|3.82|3163657|2018-07-09|2018|  28|
| GERN|3.75|3.87|3.87|2040190|2018-07-08|2018|  27|
| GERN| 3.7|3.85|3.85|3634296|2018-07-05|2018|  27|
| GERN|3.65|3.94|3.94|5535966|2018-07-04|2018|  27|
| GERN|3.59|3.62|3.62|1501390|2018-07-02|2018|  27|
+-----+----+----+----+-------+----------+----+----+
only showing top 20 rows

In [ ]:
with_week.groupBy('week').agg(F.avg('volume'), F.max('volume')).orderBy('avg(volume)', ascending=False).show()

+----+--------------------+-----------+
|week|         avg(volume)|max(volume)|
+----+--------------------+-----------+
|   3|  1.94023387805838E7|  591563700|
|   4| 1.882049822122571E7|  843263400|
|   2|1.8492131440107673E7|  837920300|
|  42|1.8356327019190405E7|  692106800|
|  43| 1.781321726842584E7|  562201500|
|   6|1.7665982594561566E7|  560038939|
|  17| 1.750360205319465E7|  591078600|
|  41|  1.74088466113943E7|  674632000|
|  45|1.7302815113643177E7|  553078278|
|  44| 1.727350009948438E7|  488329100|
|   5| 1.719710506479546E7|  413058100|
|  38|1.6983320689955022E7|  418735100|
|   9|1.6972356338301044E7|  404562900|
|   7|1.6762058271672107E7|  580857200|
|  46| 1.672574349490713E7|  463840300|
|  11|1.6597461446497764E7|  354709747|
|  29| 1.657833554115899E7|  493127600|
|  30|1.6486103215778628E7|  546970200|
|  16|1.6477095527205657E7|  468531000|
|  39|1.6436168701349325E7| 1856379000|
+----+--------------------+-----------+
only showing top 20 rows